---
import type { ICaseStudy } from '../../core/interfaces/case-study.interface';
import { sanityImageUrl } from '../../core/utils/sanity-image';
import Container from '../molecule/Container.astro';
interface Props {
    caseStudies: ICaseStudy[];
}
const { caseStudies }: Props = Astro.props;
---

<Container title="Latest Projects" className="md:pt-32 pt-12" id="projects">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 relative">
        {
            caseStudies.map((cs) => (
                <div class="flex flex-col md:bg-white bg-transparent border-[1px] border-mx-purple dark:border-mx-blue md:border-transparent rounded-md min-h-56 items-end justify-end px-4 py-2 group relative">
                    <img
                        src={sanityImageUrl(cs.image.asset._ref, 400)}
                        alt={cs.title}
                        class="pb-8 mr-auto grayscale opacity-40 group-hover:opacity-100 group-hover:grayscale-0"
                    />
                    <p class="font-bold text-2xl text-mx-blue dark:text-mx-light dark:md:text-mx-blue">
                        {cs.title}
                    </p>
                    <div class="lg:flex gap-2 p-2 flex-wrap hidden">
                        {cs.technologies.map((t) => (
                            <p class="dark:text-mx-blue text-xs border-[1px] border-mx-lila rounded-xl px-2 py-1 text-mx-lila">
                                {t.technology}
                            </p>
                        ))}
                    </div>

                    <a
                        href={cs.url}
                        target="_blank"
                        class="absolute top-4 right-4 px-4 py-2 rounded-md bg-mx-lila text-mx-dark hover:bg-mx-blue group-hover:hover:text-mx-light dark:hover:bg-mx-purple"
                    >
                        <i class="ri-arrow-right-up-line" />
                    </a>
                    <a
                        href={cs.repo}
                        target="_blank"
                        class="absolute bottom-4 left-4 px-4 py-2 rounded-md hover:bg-mx-blue text-mx-blue dark:hover:text-mx-light bg-mx-light hover:text-mx-light"
                    >
                        <i class="ri-github-line" />
                    </a>
                </div>
            ))
        }
    </div>
</Container>

<style>
    .relative:not(.flex)::before {
        content: '';
        width: 32rem;
        height: 32rem;
        background-image: url('/public/images/x-symbol-2xl.svg');
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    @media (max-width: 768px) {
        .relative:not(.flex)::before {
            display: none; /* Set width to 100% for tablet and smaller screens */
        }
    }
</style>
